<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>Portugal precisa de um verdadeiro Presidente da Rep&uacute;blica com carisma, vontade e o perfil de Jos&eacute; S&oacute;crates. Basta de gente amorfa, sem ac&ccedil;&atilde;o, sem ideias e inoperante.</p>
                <hr class="primary">
                <h2 class="section-heading">Siga-nos</h2>
                <p></p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="http://peticaopublica.com/pview.aspx?pi=jsocratespresidente">
                            <i class="fa fa-university fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                            <!--<p>jsocratespresidente</p>-->
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/JoseSocratesPresidente">
                            <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                            <!--<p>JoseSocratesPresidenteRepublica</p>-->
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/josesocratespr">
                            <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                            <!--<p>JoseSocratesPresidenteRepublica</p>-->
                        </a>
                    </li>
                    <li>
                        <a href="https://about.me/josesocrates">
                            <i class="fa fa-info fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                            <!--<p>josesocrates</p>-->
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
