<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2>Peti&ccedil;&atilde;o para candidatura de Jos&eacute; S&oacute;crates a Presidente da Rep&uacute;blica</h2>
            <h3>Elei&ccedil;&otilde;es presidenciais portuguesas de 2016</h3>
            <hr>
            <div class="row">
                <div class="col-lg-1 text-left">
                    <a href="http://peticaopublica.com/pview.aspx?pi=jsocratespresidente">
                        <i class="fa fa-university fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        <!--<p>jsocratespresidente</p>-->
                    </a>
                </div>
                <div class="col-lg-1 text-left">
                    <a href="https://www.facebook.com/JoseSocratesPresidenteRepublica">
                        <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        <!--<p>JoseSocratesPresidenteRepublica</p>-->
                    </a>
                </div>
                <div class="col-lg-1 text-left">
                    <a href="https://about.me/josesocrates">
                        <i class="fa fa-info fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        <!--<p>josesocrates</p>-->
                    </a>
                </div>

            </div>
            <a href="#part0-intro" class="btn btn-primary btn-xl page-scroll">Saber Mais</a>
        </div>
    </div>
</header>
