<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2>Peti&ccedil;&atilde;o para candidatura de Jos&eacute; S&oacute;crates a Presidente da Rep&uacute;blica</h2>
            <h3><a href ="http://peticaopublica.com/pview.aspx?pi=jsocratespresidente">ASSINAR</a></h3>
            <!--<h3>Elei&ccedil;&otilde;es presidenciais portuguesas de 2016</h3>-->
            <hr>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-left">
                        <li>
                            <a href="http://peticaopublica.com/pview.aspx?pi=jsocratespresidente">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-university fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/JoseSocratesPresidente">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/josesocratespr">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>

                        <li>
                            <a href="https://about.me/josesocrates">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <a href="#part0-intro" class="btn btn-primary btn-xl page-scroll">Saber Mais</a>
        </div>
    </div>
</header>
