<!--<section class="bg-primary" id="about">-->
<section id="part0-intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <hr class="light">
                <!--<p class="text-faded">...</p>-->
                <p>{% include part0-intro.txt%}</p>
                <hr />
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
                <a href="#part1-superacao" class="btn btn-primary page-scroll">Supera&ccedil;&atilde;o</a>
                <a href="#part2-preserveranca" class="btn btn-primary page-scroll">Perserveran&ccedil;a</a>
                <a href="#part3-inovacao" class="btn btn-primary page-scroll">Inova&ccedil;&atilde;o</a>
                <a href="#part4-conviccao" class="btn btn-primary page-scroll">Convic&ccedil;&atilde;o</a>
                <a href="#part5-determinacao" class="btn btn-primary page-scroll">Determina&ccedil;&atilde;o</a>
            </div>
        </div>
    </div>
</section>
