<!--<section class="bg-primary" id="about">-->
<section class="bg-warning" id="part5-determinacao">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Determina&ccedil;&atilde;o</h2>
                <hr class="light">
                <!--<p class="text-faded">...</p>-->
                {% include part5-determinacao.txt%}
                <br />
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
