<!--<section class="bg-primary" id="about">-->
<section class="bg-info" id="part4-conviccao">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Convic&ccedil;&atilde;o</h2>
                <hr class="light">
                <!--<p class="text-faded">...</p>-->
                <p>{% include part4-conviccao.txt%}</p>
                <br />
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
